<%= form_tag users_path, method: :post do %>
  <% if @user.errors.any? %>
  <h2>Error:</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

<div class="field">
  <%= label_tag :email %><br>
  <%= text_field_tag :email %>
</div>

<div class="field">
  <%= label_tag :password %><br>
  <%= password_field_tag :password %>
</div>

<div class="field">
  <%= label_tag :password_confirmation %><br>
  <%= password_field_tag :password_confirmation %>
</div>

<div class="actions">
  <%= submit_tag 'Register' %>
</div>

<% end %>
