<%= form_tag leetcodes_path, method: :post do %>
  <% if @leetcode.errors.any? %>
  <h2>Error:</h2>
  <ul>
    <% @leetcode.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

<% if params[:temp_token] %>
<%= hidden_field_tag :temp_token, params[:temp_token] %>
<% end %>

<div class="field">
  <%= label_tag :email, 'Leetcode Email' %><br>
  <%= text_field_tag :email %>
</div>

<div class="field">
  <%= label_tag :password %><br>
  <%= password_field_tag :password %>
</div>

<div class="actions">
  <%= submit_tag 'Attach' %>
</div>

<% end %>
